<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="vendor_js/angular/angular.min.js"></script>
    <link rel="stylesheet" href="vendor_css/css/bootstrap.min.css"/>
    <script>
        var crudApp = angular.module('crudApp', []);

        crudApp.controller('crudAppController', function ($scope) {
            $scope.lstItems = [];
            $scope.getListItemRecord = function (strFirstName, strLastName, intAge) {
                var listItemObj = {
                    firstName : strFirstName,
                    lastName : strLastName,
                    age : intAge
                };
                return listItemObj;
            }
            $scope.addListItem = function () {
                var empObj = $scope.getListItemRecord($scope.firstName, $scope.lastName, $scope.age);
                console.log($scope.lstItems.length);
                $scope.lstItems[$scope.lstItems.length] = empObj;
                $scope.resetForm();
            }
            $scope.resetForm = function () {
                $scope.firstName = null;
                $scope.lastName = null;
                $scope.age = null;
            }
        });
    </script>
    <title></title>
</head>
<body>
    <div ng-app="crudApp" ng-controller="crudAppController" style="width:60%;margin-left:20%;margin-top:5%">
        <div class="form-group">
            <label for="email">First Name</label>
            <input type="text" class="form-control" id="email" ng-model="firstName">
        </div>
        <div class="form-group">
            <label for="pwd">Last Name</label>
            <input type="text" class="form-control" id="pwd" ng-model="lastName">
        </div>
        <div class="form-group">
            <label for="pwd">Age</label>
            <input type="number" class="form-control" id="pwd" ng-model="age">
        </div>
        <input type="button" value="Add to List" ng-click="addListItem()" class="btn btn-primary" />
        <input type="button" value="Reset" ng-click="resetForm()" class="btn btn-danger" />

        
        <hr>
        <p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody ng-repeat="emp in lstItems">
                    <tr>
                        <td>{{emp.firstName}}</td>
                        <td>{{emp.lastName}}</td>
                        <td>{{emp.age}}</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</body>
</html>